<div class="leader-card" appearance="outlined">
  <div class="row">
    <div class="col-md-6">
      <img class="driver-photo"  src="assets/svg/drivers/kimmi/kimmi.svg" alt="">
    </div>
    <div class="col-md-6">
      <mat-card-title class="description"> RAI</mat-card-title>
      <mat-card-title class="driver-number">7</mat-card-title>
      <mat-card-subtitle class="driver-name">{{driverInfo.points}}</mat-card-subtitle>
      <mat-card-title class="driver-record">1:14.545s</mat-card-title>

    </div>
  </div>
  <!--
  <mat-card-header>
    <mat-card-title class="description"> Líder luego de {{1}} fecha</mat-card-title>
    <mat-card-subtitle class="driver-name">{{driverInfo.name}}</mat-card-subtitle>
    <mat-card-subtitle class="team-name">{{driverInfo.team}}</mat-card-subtitle>

  </mat-card-header>
    <mat-card-content class="driver-points">
    {{driverInfo.points}} pts
  </mat-card-content>
  -->
</div>
