<div class="leader-card" appearance="outlined">
  <div class="row">
    <div class="col-md-6">
      <img class="driver-photo"  [src]="this.driverInfo.driverPhoto" alt="">
    </div>
    <div class="col-md-6">
      <mat-card-title class="description"> {{driverInfo.driverCode}}</mat-card-title>
      <mat-card-title class="driver-number">{{driverInfo.number}}</mat-card-title>
      <mat-card-subtitle class="driver-name">{{driverInfo.points}}</mat-card-subtitle>
      <mat-card-title class="driver-record">{{driverInfo.record}}</mat-card-title>

    </div>
  </div>
</div>
