<div class="home-container">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/svg/circuits/monaco/monaco.svg" alt="monaco circuit" class="circuit">
        </div>
        <div class="col-md-4">
            <label for="" class="circuitName">Circuit de Mónaco, Montecarlo, Mónaco</label>
            <app-home-card title="Cantidad de Curvas" message="19"></app-home-card>
            <app-home-card title="Velocidad Promedio" message="160 Km/h"></app-home-card>
        </div>
        <div class="col-md-4">
            
            <app-leader-card></app-leader-card>
            
        </div>
    </div>
</div>


