<nav class="navbar">
  <!--  
  <div class="navbar__logo">MiApp</div>
  -->
  <ul class="navbar__links" [class.active]="menuOpen">
    <li><a href="/inicio" (click)="navigateTo('/', $event)">Inicio</a></li>
    <li><a href="/pilotos" (click)="navigateTo('/pilotos', $event)">Pilotos</a></li>
    <li><a routerLink="/portafolio" (click)="closeMenu()">Posiciones</a></li>
    <li><a routerLink="/portafolio" (click)="closeMenu()">Reglamentos</a></li>
    <li><a routerLink="/portafolio" (click)="closeMenu()">Analítica</a></li>
    <li><a routerLink="/contacto" (click)="closeMenu()">Contacto</a></li>
  </ul>
  <div class="navbar__toggle" (click)="toggleMenu()">
    <div class="bar" [class.change]="menuOpen"></div>
    <div class="bar" [class.change]="menuOpen"></div>
    <div class="bar" [class.change]="menuOpen"></div>
  </div>
</nav>