<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Categoría A">

    <div class="cards-container">
        <app-driver-card></app-driver-card>
        <app-driver-card></app-driver-card>
        <app-driver-card></app-driver-card>
        <app-driver-card></app-driver-card>
        <app-driver-card></app-driver-card>
        <app-driver-card></app-driver-card>
        <app-driver-card></app-driver-card>
    

    </div>

        
     
  </mat-tab>
  <mat-tab label="Categoría B">Content 2</mat-tab>
  <mat-tab label="Categoría C">Content 3</mat-tab>
  <mat-tab label="Categoría D">Content 1</mat-tab>
  <mat-tab label="Categoría E">Content 2</mat-tab>
  <mat-tab label="Categoría F">Content 3</mat-tab>
  <mat-tab label="Categoría G">Content 1</mat-tab>

</mat-tab-group>
